body {
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2e68bf, #798dd6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2e5ebf, #5a7c9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
